.footer {
  text-align: center;
  padding: 2rem;
  background: linear-gradient(135deg, rgb(0, 85, 111), rgb(0, 110, 150), rgb(0, 154, 191));
  color: #ffffff;
  font-weight: 600;
  margin-top: 5rem;
    
}

